streamlit
transformers==4.36.2
torch
sentencepiece
nltk
deep-translator
spacy
jieba
pandas
numpy
matplotlib
plotly
pyvis
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz