streamlit
jieba
transformers
torch
sentencepiece
nltk
deep-translator
spacy
pandas
numpy
matplotlib
plotly
pyvis
opencc-python-reimplemented
pypinyin
adjustText
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz